node_modules/

dist/
www/
build/

ios/App/Pods/
ios/App/output/
ios/App/App/public/
*.xcuserstate

android/.gradle/
android/build/
android/app/build/
android/local.properties
android/app/src/main/assets/public/

.env
.env.local
*.keystore
*.jks

.DS_Store
Thumbs.db
.vscode/
.idea/
*.log